{% extends "layout.html" %}

{% block content %}

    <script>
        /*
            INIT
        */
        var headline_data = {{data|tojson}} 


        // to pretty print headline_data as string to copy and paste for saving
        function print_headline_data(){
            console.log(JSON.stringify(headline_data, null, 3));
        }
        

        $(function() {
            load_headline_data()

        });

        function load_headline_data(){
            //load headline and summary
            headline = $.trim(headline_data["headline"])
            if(headline != ""){
                show_headline(headline_data)
            }else{
                show_headline_editing(headline_data)
            }

            // load keywords
            keywords = headline_data["keywords"]
            if(keywords.length > 0){
                show_keywords(headline_data)
            }

             //load images
            generations_list = headline_data["generations"]
            if(generations_list.length > 0){
                show_generations(generations_list, true)
            }             
        }

        /*
            HEADLINES
        */

        $(function() {
            $("#submit_headline_btn").click(function(){
                let headline = $("#headline_input").val()
                let summary = $("#summary_input").val()
                let content = $("#content_input").val()
                let tone = $("#tone_input").val()
                submit_headline(headline, summary, content, tone)
            })

            $("#edit_headline_btn").click(function(){
                show_headline_editing(headline_data)
            })

            $("#edit_headline_btn_two").click(function(){
                show_headline_editing(headline_data)
            })

            $("#rewrite_btn").click(function(){
                let headline = $("#headline_input").val()
                let summary = $("#summary_input").val()
                let content = $("#content_input").val()
                let tone = $("#tone_input").val()
                submit_headline(headline, summary, content, tone)
            })
        });

        $(function() {
            $("#first_submission").click(function(){
                let headline = $("#headline_input").val();

                first_submission(headline)
            })

            $("#first_submission_two").click(function(){
                let headline = $("#headline_input").val();

                first_submission_two(headline)
            })

            $("#second_submission").click(function(){
                let new_ = $("#new_input").val();
                let last = $("#last_input").val();
                let lastlast = $("#lastlast_input").val();

                second_submission(new_, last, lastlast)
                
            })

            $("#back_headline_btn").click(function(){
                final_backer()
            })
        });

        $(function() {
            $("#Feedback").click(function(){
                give_feedback()
            })
        });

        $(function() {
            $("#formality_inc_btn").click(function(){
                let headline = $("#headline_input").val()
                let summary = $("#summary_input").val()
                let content = $("#content_input").val()
                let tone = $("#tone_input").val()
                increase_formality(headline, summary, content, tone)
                show_new_gen()
            })
            
            $("#formality_dec_btn").click(function(){
                let headline = $("#headline_input").val()
                let summary = $("#summary_input").val()
                let content = $("#content_input").val()
                let tone = $("#tone_input").val()
                decrease_formality(headline, summary, content, tone)
                show_new_gen()
            })

            $("#directness_inc_btn").click(function(){
                let headline = $("#headline_input").val()
                let summary = $("#summary_input").val()
                let content = $("#content_input").val()
                let tone = $("#tone_input").val()
                increase_directness(headline, summary, content, tone)
                // show_new_gen()
            })

            $("#directness_dec_btn").click(function(){
                let headline = $("#headline_input").val()
                let summary = $("#summary_input").val()
                let content = $("#content_input").val()
                let tone = $("#tone_input").val()
                decrease_directness(headline, summary, content, tone)
                // show_new_gen()
            })

            $("#length_inc_btn").click(function(){
                let headline = $("#headline_input").val()
                let summary = $("#summary_input").val()
                let content = $("#content_input").val()
                let tone = $("#tone_input").val()
                increase_length(headline, summary, content, tone)
                show_new_gen()
            })

            $("#length_dec_btn").click(function(){
                let headline = $("#headline_input").val()
                let summary = $("#summary_input").val()
                let content = $("#content_input").val()
                let tone = $("#tone_input").val()
                decrease_length(headline, summary, content, tone)
                show_new_gen()
            })

            $("#tone_inc_btn").click(function(){
                let headline = $("#headline_input").val()
                let summary = $("#summary_input").val()
                let content = $("#content_input").val()
                let tone = $("#tone_input").val()
                increase_tone(headline, summary, content, tone)
            })

            $("#tone_dec_btn").click(function(){
                let headline = $("#headline_input").val()
                let summary = $("#summary_input").val()
                let content = $("#content_input").val()
                let tone = $("#tone_input").val()
                decrease_tone(headline, summary, content, tone)
                // show_new_gen()
            })

            $("#undo_btn").click(function(){
                let headline = $("#headline_input").val()
                let summary = $("#summary_input").val()
                let content = $("#content_input").val()
                let tone = $("#tone_input").val()
                undo_sauce(headline, summary, content, tone)
                // show_new_gen()
            })

        });

        function show_headline_editing(data){
            $("#edit_headline_div").show()
            $("#show_headline_div").hide()
            $("#show_headline_div_two").hide()
            $("#inputs_done_div").hide()
            $("#keywords_to_select").hide()
            $("#see_generations").hide()

            $("#headline_input").val(data["headline"])
            $("#summary_input").val(data["summary"])
            $("#content_input").val(data["content"])
            $("#tone_input").val(data["tone"])
        }

        function show_headline(data){
            $("#edit_headline_div").hide()
            $("#show_headline_div").show()
        }

        function show_headline_two(data){
            $("#edit_headline_div").hide()
            $("#show_headline_div_two").show()
        }

        function final_backer(){
            $("#show_headline_div").show()
            $("#inputs_done_div").hide()
        }

        function show_last_page(){
            $("#show_headline_div").hide()
            $("#show_headline_div_two").hide()
            $("#inputs_done_div").show()
        }

        function show_new_gen(){
            $("#keywords_to_select").show()
            $("#generated_email").text(headline_data["generations"])
        }

        function show_feedback(){
            $("#see_generations").show()
            $("#feedback_text").text(headline_data["feedback"])
        }

        function give_feedback() {
            let data = {"headline": headline}
            $.ajax({
                type: "POST",
                url: "/give_feedback",                
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                
                data : JSON.stringify(data),
                beforeSend: function () { 
                    $("#spinner-div").show()
                },
                success: function(data, text){
                    // console.log("submit_headline response")
                    // console.log(data)                
                    headline_data = data
                    show_feedback(data)
                },
                error: function(request, status, error){
                    console.log("Error");
                    console.log(request)
                    console.log(status)
                    console.log(error)
                },
                complete: function () { 
                    $("#spinner-div").hide()
                },
            });
        }

        function first_submission(headline) {
            let data = {"headline": headline, "summary": "", "content": "", "tone": ""}
            $.ajax({
                type: "POST",
                url: "/first_submission",                
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                
                data : JSON.stringify(data),
                beforeSend: function () { 
                    $("#spinner-div").show()
                },
                success: function(data, text){
                    // console.log("submit_headline response")
                    // console.log(data)                
                    headline_data = data
                    show_headline(data)
                },
                error: function(request, status, error){
                    console.log("Error");
                    console.log(request)
                    console.log(status)
                    console.log(error)
                },
                complete: function () { 
                    $("#spinner-div").hide()
                },
            });
        }

        function first_submission_two(headline) {
            let data = {"headline": headline, "summary": "", "content": "", "tone": ""}
            $.ajax({
                type: "POST",
                url: "/first_submission",                
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                
                data : JSON.stringify(data),
                beforeSend: function () { 
                    $("#spinner-div").show()
                },
                success: function(data, text){
                    // console.log("submit_headline response")
                    // console.log(data)                
                    headline_data = data
                    show_headline_two(data)
                },
                error: function(request, status, error){
                    console.log("Error");
                    console.log(request)
                    console.log(status)
                    console.log(error)
                },
                complete: function () { 
                    $("#spinner-div").hide()
                },
            });
        }


        function second_submission(new_, last, lastlast) {
            let data = {"last": last, "new": new_, "lastlast": lastlast}
            $.ajax({
                type: "POST",
                url: "/second_submission",                
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                
                data : JSON.stringify(data),
                beforeSend: function () { 
                    $("#spinner-div").show()
                },
                success: function(data, text){
                    // console.log("submit_headline response")
                    // console.log(data)                
                    headline_data = data
                    show_last_page()
                    show_new_gen()
                },
                error: function(request, status, error){
                    console.log("Error");
                    console.log(request)
                    console.log(status)
                    console.log(error)
                },
                complete: function () { 
                    $("#spinner-div").hide()
                },
            });
        }

        function increase_formality(headline, summary, content, tone){
            let data = {"headline":headline, "summary":summary, "content":content, "tone":tone}
            $.ajax({
                type: "POST",
                url: "/increase_formality",                
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                
                data : JSON.stringify(data),
                beforeSend: function () { 
                    $("#spinner-div").show()
                },
                success: function(data, text){
                    // console.log("submit_headline response")
                    // console.log(data)                
                    headline_data = data
                    // show_headline(data)
                },
                error: function(request, status, error){
                    console.log("Error");
                    console.log(request)
                    console.log(status)
                    console.log(error)
                },
                complete: function () { 
                    $("#spinner-div").hide()
                },
            }); 
        }

        function decrease_formality(headline, summary, content, tone){
            let data = {"headline":headline, "summary":summary, "content":content, "tone":tone}
            $.ajax({
                type: "POST",
                url: "/decrease_formality",                
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                
                data : JSON.stringify(data),
                beforeSend: function () { 
                    $("#spinner-div").show()
                },
                success: function(data, text){
                    // console.log("submit_headline response")
                    // console.log(data)                
                    headline_data = data
                    show_headline(data)
                },
                error: function(request, status, error){
                    console.log("Error");
                    console.log(request)
                    console.log(status)
                    console.log(error)
                },
                complete: function () { 
                    $("#spinner-div").hide()
                },
            }); 
        }

        function undo_sauce(headline, summary, content, tone){
            let data = {"headline":headline, "summary":summary, "content":content, "tone":tone}
            $.ajax({
                type: "POST",
                url: "/undo_sauce",                
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                
                data : JSON.stringify(data),
                beforeSend: function () { 
                    $("#spinner-div").show()
                },
                success: function(data, text){
                    // console.log("submit_headline response")
                    // console.log(data)                
                    headline_data = data
                    show_headline(data)
                },
                error: function(request, status, error){
                    console.log("Error");
                    console.log(request)
                    console.log(status)
                    console.log(error)
                },
                complete: function () { 
                    $("#spinner-div").hide()
                },
            }); 
        }

        function increase_directness(headline, summary, content, tone){
            let data = {"headline":headline, "summary":summary, "content":content, "tone":tone}
            $.ajax({
                type: "POST",
                url: "/increase_directness",                
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                
                data : JSON.stringify(data),
                beforeSend: function () { 
                    $("#spinner-div").show()
                },
                success: function(data, text){
                    // console.log("submit_headline response")
                    // console.log(data)                
                    headline_data = data
                    show_headline(data)
                },
                error: function(request, status, error){
                    console.log("Error");
                    console.log(request)
                    console.log(status)
                    console.log(error)
                },
                complete: function () { 
                    $("#spinner-div").hide()
                },
            }); 
        }

        function decrease_directness(headline, summary, content, tone){
            let data = {"headline":headline, "summary":summary, "content":content, "tone":tone}
            $.ajax({
                type: "POST",
                url: "/decrease_directness",                
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                
                data : JSON.stringify(data),
                beforeSend: function () { 
                    $("#spinner-div").show()
                },
                success: function(data, text){
                    // console.log("submit_headline response")
                    // console.log(data)                
                    headline_data = data
                    show_headline(data)
                },
                error: function(request, status, error){
                    console.log("Error");
                    console.log(request)
                    console.log(status)
                    console.log(error)
                },
                complete: function () { 
                    $("#spinner-div").hide()
                },
            }); 
        }

        function increase_tone(headline, summary, content, tone){
            let data = {"headline":headline, "summary":summary, "content":content, "tone":tone}
            $.ajax({
                type: "POST",
                url: "/increase_tone",                
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                
                data : JSON.stringify(data),
                beforeSend: function () { 
                    $("#spinner-div").show()
                },
                success: function(data, text){
                    // console.log("submit_headline response")
                    // console.log(data)                
                    headline_data = data
                    show_headline(data)
                },
                error: function(request, status, error){
                    console.log("Error");
                    console.log(request)
                    console.log(status)
                    console.log(error)
                },
                complete: function () { 
                    $("#spinner-div").hide()
                },
            }); 
        }

        function decrease_tone(headline, summary, content, tone){
            let data = {"headline":headline, "summary":summary, "content":content, "tone":tone}
            $.ajax({
                type: "POST",
                url: "/decrease_tone",                
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                
                data : JSON.stringify(data),
                beforeSend: function () { 
                    $("#spinner-div").show()
                },
                success: function(data, text){
                    // console.log("submit_headline response")
                    // console.log(data)                
                    headline_data = data
                    show_headline(data)
                },
                error: function(request, status, error){
                    console.log("Error");
                    console.log(request)
                    console.log(status)
                    console.log(error)
                },
                complete: function () { 
                    $("#spinner-div").hide()
                },
            }); 
        }

        function increase_length(headline, summary, content, tone){
            let data = {"headline":headline, "summary":summary, "content":content, "tone":tone}
            $.ajax({
                type: "POST",
                url: "/increase_length",                
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                
                data : JSON.stringify(data),
                beforeSend: function () { 
                    $("#spinner-div").show()
                },
                success: function(data, text){
                    // console.log("submit_headline response")
                    // console.log(data)                
                    headline_data = data
                    show_headline(data)
                },
                error: function(request, status, error){
                    console.log("Error");
                    console.log(request)
                    console.log(status)
                    console.log(error)
                },
                complete: function () { 
                    $("#spinner-div").hide()
                },
            }); 
        }

        function decrease_length(headline, summary, content, tone){
            let data = {"headline":headline, "summary":summary, "content":content, "tone":tone}
            $.ajax({
                type: "POST",
                url: "/decrease_length",                
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                
                data : JSON.stringify(data),
                beforeSend: function () { 
                    $("#spinner-div").show()
                },
                success: function(data, text){
                    // console.log("submit_headline response")
                    // console.log(data)                
                    headline_data = data
                    show_headline(data)
                },
                error: function(request, status, error){
                    console.log("Error");
                    console.log(request)
                    console.log(status)
                    console.log(error)
                },
                complete: function () { 
                    $("#spinner-div").hide()
                },
            }); 
        }

        function submit_headline(headline, summary, content, tone){
            let data = {"headline":headline, "summary":summary, "content":content, "tone":tone}
            $.ajax({
                type: "POST",
                url: "/submit_headline",                
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                
                data : JSON.stringify(data),
                beforeSend: function () { 
                    $("#spinner-div").show()
                },
                success: function(data, text){
                    // console.log("submit_headline response")
                    // console.log(data)                
                    headline_data = data
                    show_headline(data)
                },
                error: function(request, status, error){
                    console.log("Error");
                    console.log(request)
                    console.log(status)
                    console.log(error)
                },
                complete: function () { 
                    $("#spinner-div").hide()
                },
            }); 
        }

        function edit_headline(){
            show_headline_editing(headline_data)
        }

        /*
            KEYWORDS
        */

        $(function() {
            $("#get_keywords").click(function(){                
                get_keywords_gpt()
            })
        });


        function show_keywords(data){
            let keywords = data["keywords"]            
            $("#display_keywords").empty()
            $.each(keywords, function(i, item){
                let new_keyword_div = $("<button class='keyword_div'>") 
                $(new_keyword_div).text(item).click(function(x){
                    console.log("item:"+item)
                    data["item"] = item
                    
                    $.ajax({
                        type: "POST",
                        url: "/get_key",                
                        dataType : "json",
                        contentType: "application/json; charset=utf-8",
                        
                        data : JSON.stringify(data),
                        beforeSend: function () { 
                            $("#spinner-div").show()
                        },
                        success: function(data, text){
                            console.log("get user selection")
                            console.log(data)                
                            headline_data = data
                            // show_headline(data)
                        },
                        error: function(request, status, error){
                            console.log("Error");
                            console.log(request)
                            console.log(status)
                            console.log(error)
                        },
                        complete: function () { 
                            $("#spinner-div").hide()
                        },
                    }); 


                })
                $("#display_keywords").append(new_keyword_div)
            })
        }

        function get_keywords_gpt(){
            // console.log(headline)
            // console.log(summary)
            let data = {}//{"headline":headline,"summary":summary}
            $.ajax({
                type: "POST",
                url: "/get_keywords",                
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify(data),
                beforeSend: function () { 
                    $("#spinner-div").show()
                },
                success: function(data, text){
                    console.log("submit_headline response")
                    console.log(data)
                    headline_data = data

                    show_keywords(headline_data)

                },
                error: function(request, status, error){
                    console.log("Error");
                    console.log(request)
                    console.log(status)
                    console.log(error)
                },
                complete: function () { 
                    $("#spinner-div").hide()
                },
            }); 
        }

        /*
            IMAGE GENERATIONS
        */

        $(function() {
            $("#get_images_headline_btn").click(function(){
                console.log("get_images_headline_btn")
                let prompt = headline_data["headline"]
                get_images(prompt)
            })

            
        });

        function get_images(prompt){

            // alert(headline_data.keys)
            // console.log(headline)
            // console.log(summary)


            let data = {"prompt":prompt}
            $.ajax({
                type: "POST",
                url: "/get_images",                
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify(data),
                beforeSend: function () { 
                    $("#spinner-div").show()
                },
                success: function(data, text){
                    console.log("get_images response")
                    console.log(data)  
                    let prompt = data["prompt"]
                    let url = data["url"]

                    let new_generations_list = data
                        // for i in new_images:
                    $.each(new_generations_list, function(i, gen) {
                        headline_data["generations"].push(gen) 
                    })
                    
                    let hed = headline_data["generations"][0]
                    alert("A song by " + headline_data["item"] + " about " + headline_data["summary"] + ".\n" + hed)
                    // show_generations(headline_data(hed))

                },
                error: function(request, status, error){
                    console.log("Error");
                    console.log(request)
                    console.log(status)
                    console.log(error)
                },
                complete: function () { 
                    $("#spinner-div").hide()
                },
            })
            // alert("two")
            // show_generations(headline_data["generations"][0])


        }


        function show_generations(generations_list){  
            alert(generations_list)       
            // $("#div").empty()


            // $.each(generations_list, function(i,item){
            //     // console.log(item)
            //     let id = item["id"]
            //     let is_deleted = item["is_deleted"]
                
            //     if(is_deleted!="true"){
            //         let prompt = item["prompt"]
            //         let url = item["url"]
            //         let song = data["generations"]

            //         let new_gen_div = $("<div id='"+id+"'><div>"+prompt+song)

            //         alert(new_gen_div)
                
            //         $("div").append(new_gen_div)
            //     }
            // }) 

            // $("div").append(generations_list[0])


            // alert(data["generations"])
            // $("#show_generations_div").text(data["generations"][0])
            // $("#show_summary").text(data["item"])

        }
    </script>  

<body style="background-color:	#e8eef9">

    <div class="row">

        <div id="explore_text" class="col-md-4" >
            <div id="edit_headline_div">                 
                    
                    <br>
                    <b>Let's get started! Who are you writing an email to?</b><br><br>
                    <textarea id="headline_input" placeholder="Ex. Professor Lydia Chilton" rows="1" cols="40"></textarea>
                    <br><br>

                    <!--
                    Do you know the recipient?
                    <select name="connection" id="connection">
                        <option value="Yes">Yes, I know the recipient personally.</option>
                        <option value="Connected">No, but I have a mutual connection with the recipient.</option>
                        <option value="No">No, I am writing a cold-email.</option>
                      </select><br><br>
                    -->
                    <b>And do you know them?</b> <br>
                    Select one of the choices below to continue.

                    <br><br>

                    <button id="first_submission" type="button" style="background: darkcyan;color:white;">Yes, I know this professor personally!</button> <br> <br>
                    <button id="first_submission_two" type="button" style="background: darkcyan;color:white;">No, I am writing a cold-email.</button> 

                    <br>
                    <br>

            </div>

            <div id="show_headline_div">
                <br><b>How do you know the recipient?</b><textarea id="new_input" placeholder="Ex. I am in her class and do research with her." rows="1" cols="40"></textarea>
                <br><b>What is your specific ask?</b><textarea id="last_input" placeholder="Ex. I need an extension on Homework #12, due on Monday, December 4th." rows="2" cols="40"></textarea>
                <br><b>Why do you need what you are asking for?</b><textarea id="lastlast_input" placeholder="Ex. I fell into a food coma after Thanksgiving and haven't been able to work on the assignment!" rows="2" cols="40"></textarea>
                <br><br><button id="edit_headline_btn" type="button" style="background: darkcyan;color:white;">Back</button><text>          </text><text>          </text><button id="second_submission" type="button" style="background: darkcyan;color:white;">Generate Email</button>
            </div>

            <div id="show_headline_div_two">
                <br><b>Write a one sentence introduction about yourself.</b><textarea id="new_input" placeholder="Please include your name, major, and university at least. Ex. My name is Karthik Sreedhar and I am a computer science and journalism master's student at Columbia University" rows="5" cols="40"></textarea>
                <br><b>Why are you reaching out to this person?</b><textarea id="content_input" placeholder="Please explain the specific reason you are choosing to reach out to this person. Ex. I am interested in doing research with this professor because we have a shared interest in HCI" rows="5" cols="40"></textarea>
                <br><b>What relevant prior experience do you have?</b><textarea id="tone_input" placeholder="Please input your experience in resume format: Role @ Company with bullet points below" rows="3" cols="40"></textarea>
                <br><b>Can you provide a link about the recipient?</b><textarea id="subject_input" placeholder="Please provide your link here" rows="2" cols="40"></textarea>
                <br><b>What is your specific ask?</b><textarea id="last_input" placeholder="Please be as specific as possible. Ex. I want to schedule a brief conversation in the next week" rows="3" cols="40"></textarea>
                <br><br><button id="edit_headline_btn_two" type="button">Back</button><text>          </text><text>          </text><button id="second_submission_two" type="button">Generate Email</button>
            </div>


            <div id="inputs_done_div">
                <br>
                <b>Your email has been generated to the right!</b>
                <br><br><button id="back_headline_btn" type="button" style="background: darkcyan;color:white;">Edit your inputs</button>
            </div>
        </div>

        <div id="keywords_to_select" class="col-md-4">
            <br>
            <b>Generated Email</b>
            <br><br>
            <div id="generated_email" style="background-color: white"></div>

            <br>

            <b>Editing</b><br>
            <textarea id="adjust_input" placeholder="Ex. Please make the email longer." rows="1" cols="55"></textarea>
            <button id="edits" type="button" style="background: darkcyan;color:white;">Enter</button>

            <br><br>

            <button id="Feedback" type="button" style="background: darkcyan;color:white;">Accept & Continue!</button>
            

            <!--
            <div>
                <button id="undo_btn" type="button">Return to Previous Version</button>
                <button id="rewrite_btn" type="button">Regenerate</button>
            </div>
        -->
        </div>    

        <!--
        <div id="see_generations" class="col-md-4">
            See Images <button id="get_images_headline_btn" type="button">Get images for headline</button>
            <div class="row" id="gallery">
                
            </div>
        -->

        <!--
        <div id="see_generations" class="col-md-4">
            <b>Sliders</b>
            <div>Formality
                <button id="formality_inc_btn" type="button">Increase</button>
                <button id="formality_dec_btn" type="button">Decrease</button>
            </div>
            <div>Length
                <button id="length_inc_btn" type="button">Increase</button>
                <button id="length_dec_btn" type="button">Decrease</button>
            </div>
            <br>
            <div>
                <button id="undo_btn" type="button">Return to Previous Version</button>
                <button id="rewrite_btn" type="button">Regenerate</button>
            </div>
        </div>
    -->

    <div id="see_generations" class="col-md-4">
        <br>
        <b>Email Feedback</b>
        <br><br>
        <div id="feedback_text" style="background-color: white"></div></div>
        
    </div>

</body>

{% endblock %}

